.titleServices {
	@apply text-5xl font-bold text-black text-center mb-[80px] mt-[-60px];

	&::after {
		content: '';
		background-image: url('/images/decor2.svg');
		background-repeat: no-repeat;
		width: 190px;
		height: 45px;
		display: block;
		margin-top: -24px;
		margin-left: 160px;
	}
}