.container {
  @apply max-w-screen-xl mx-auto px-4
}

.titleAbout {
	@apply text-5xl font-bold text-white text-center mb-28 max-my-600:mb-12 mt-[-280px] max-my-600:mt-[-78px];

	&::after {
		content: '';
		background-image: url('/images/decor3.svg');
		background-repeat: no-repeat;
		width: 190px;
		height: 45px;
		display: block;
		margin-top: -24px;
		margin-left: 90px;
	}
}

.bgImages {
	background-image: url('/images/decor-bg/wave-haikei-black2-product.svg');
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 600px){
	.bgImages {
		background-image: none;
	}
}