.container {
  @apply max-w-screen-xl mx-auto px-4
}

.titleServices {
	@apply text-5xl font-bold text-black text-center mb-[80px] mt-[-120px];

	&::after {
		content: '';
		background-image: url('/images/decor2.svg');
		background-repeat: no-repeat;
		width: 190px;
		height: 45px;
		display: block;
		margin-top: -23px;
		margin-left: 150px;
	}
}

.title {
  @apply text-black font-bold text-[40px] max-my-600:text-[36px] capitalize text-white flex-1 mb-4 xl:mb-0 text-center xl:text-center max-w-[1100px] m-auto
}

.text {
  @apply text-[19px] text-white flex-1 text-center xl:text-left max-w-2xl xl:max-w-none
}