.container {
  @apply max-w-screen-xl mx-auto px-4
}

.titleProduct {
	@apply text-5xl font-bold text-white text-center mb-24 mt-[-100px] max-my-600:mt-[-20px];

	&::after {
		content: '';
		background-image: url('/images/decor3.svg');
		background-repeat: no-repeat;
		width: 190px;
		height: 45px;
		display: block;
		margin-top: -24px;
		margin-left: 160px;
	}
}

.shadow-box {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}