.container {
  @apply max-w-screen-xl mx-auto px-4;
}

.logo {
  @apply w-64;
}

.footer {
  @apply flex items-center justify-center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 400px));
  gap: 6rem;
  align-items: center;
}

.column {
  @apply text-white;
}

.centerColumn {
  @apply col-span-1 flex items-center justify-center relative;
}
